.olachat-messages {
  flex: 1;
  background: #eee;
  padding: 1em;
  border: 1px #ccc solid;
  overflow: auto;
}

  /**
   * Message
   */
  .olachat-message {
    display: flex;
    // max-width: 80%;
    padding-bottom: 1em;
    font-size: 14px;
    justify-content: flex-start;
    flex-direction: row;
    // flex-shrink: 0;
  }

    /**
     * Content
     */
    .olachat-message-content{
      background: blue;
      color: white;
      border-radius: 5px;
      padding: 8px;
      margin-bottom: 8px;
    }

    /**
     * body
     */
    .olachat-message-body {
      // flex: 1;
      max-width: 60%;
      min-width: 50px;
      display: flex;
      flex-direction: column;
    }

    /**
     * Avatar
     */
    .olachat-message-avatar {
      width: 40px;
    }

    /**
     * Date
     */
    .olachat-message-date {
      font-size: 12px;
      color: #888;
    }

/**
 * Bot message
 */
.olachat-message-bot {
  // justify-content: flex-end;
  flex-direction: row-reverse;
  .olachat-message-content {
    background: white;
    color: #333;
  }
}

/**
 * Animation
 */
.messages-enter, .messages-appear {
  opacity: 0.01;
}

.messages-enter.messages-enter-active, .messages-appear.messages-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.messages-leave {
  opacity: 1;
}

.messages-leave.messages-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}