.olachat-message-fulfilled {
  .olachat-message-content{
    // font-weight: bold;
  }
}

.olachat-avatar{
  background: #eee;
}

.olachat {
  background-color: #f7f5f1;
}

/**
 * Header
 */
.olachat-header {
  padding-top: 0;
  padding-bottom: 0;
}
.olachat-header-title {
  background: url(https://lh3.googleusercontent.com/1M8YrO1W3rLRAbZznFYXQLHekCBAIELv8hu5Ve1ynIhHSv-edoIwGehU131OoWreXA=w170) left no-repeat;
  background-size: auto 34px;
  padding-left: 40px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.olachat-avatar-bot .olachat-avatar {
  border: none;
}