/**
 * Voice
 */

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(#fff, 0.8);
    box-shadow: 0 0 0 0 rgba(#fff, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
      box-shadow: 0 0 0 12px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    };
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideUpFade {
  0% {
    transform: translate3d(0, 2px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/**
 * Animation
 */
.ola-fade-enter, .ola-fade-appear {
  opacity: 0.01;
  // transform: translate3d(0, 10px, 0)
}

.ola-fade-enter.ola-fade-enter-active, .ola-fade-appear.ola-fade-appear-active {
  opacity: 1;
  // transform: translate3d(0,0,0);
  transition: opacity 0.2s ease-in;
}

.ola-fade-exit {
  // opacity: 1;
}

.ola-fade-exit.ola-fade-exit-active {
  // opacity: 0.01;
  transition: opacity 200ms ease-in;
}

/**
 * Quick replies
 */

.slots-enter, .slots-appear {
  opacity: 0.01;
}

.slots-enter.slots-enter-active, .slots-appear.slots-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  transition-delay: 0.1s;
}

.slots-exit {
  opacity: 1;
}

.slots-exit.slots-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}


@-webkit-keyframes notificationSlideUp{
    0%{
        opacity:0;
        height:0;
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    50%{
        opacity:0;
        max-height:120px;
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    to{
        opacity:1;
        max-height:120px;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes notificationSlideUp{
    0%{
        opacity:0;
        height:0;
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    50%{
        opacity:0;
        max-height:120px;
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
    to{
        opacity:1;
        max-height:120px;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}