/**
 * Answer
 */

.ola-snippet-answer {
  background: white;
  position: relative;
  padding: 0;
  margin-bottom: 1em;
}

.ola-answer {
  box-shadow: none;
  padding: 0;
  @include clearfix;

  sup {
    font-size: 16px;
    top: auto;
  }
}

/**
 * Wrapper
 */
.ola-answer-card-wrapper,
// .ola-answer-list-wrapper,
.ola-answer-carousel-item-wrapper {
  padding: 14px;
  background: white;
  box-shadow: $small-box-shadow;
  border-radius: 5px;
}

/**
 * Remove shadow inside carousel
 */
.ola-answer-carousel {
  > .ola-answer-card-wrapper {
    box-shadow: none;
    padding: 0;
  }
}


/**
 * Carousel title
 */
.ola-answer-carousel-title {
  padding-top: 8px;
}

/**
 * Carousel image
 */
.ola-answer-selectable {
  cursor: pointer;
}

/**
 * Answer card
 */
.ola-answer-card {
  // margin: 0 0 16px 0;
}

/**
 * Swipeable inside chatbot
 */

.ola-swipeable {  
  /* On desktop */
  margin-left: -60px;
  margin-right: -80px;

  .olachat-bot-mobile &{
    margin-left: -16px;
    margin-right: -16px;
  }
}
  /**
   * Row
   */
  // .ola-swipeable {
  //   padding-left: 0;
  //   padding-right: 0; 
  // }

  .ola-swipeable-flow {
    padding-left: 60px;
    padding-right: 80px;

    .olachat-bot-mobile & {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  /**
   * Inside swipeable, set height as 100%
   */
  .ola-swipeable {
    .ola-answer-card, 
    .ola-answer-carousel-item,
    .ola-answer-card-wrapper,
    .ola-answer-carousel-item-wrapper,
    .ola-answer-list-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .olachat-bot-desktop .ola-swipeable-prev,
  .olachat-bot-desktop .ola-swipeable-next {
    display: block;
  }