/**
 * Answer
 */

.ola-snippet-answer {
  background: white;
  position: relative;
  padding: 0;
  margin-bottom: 1em;
}

.ola-answer {
  box-shadow: none;
  padding: 0;
  @include clearfix;

  sup {
    font-size: 16px;
    top: auto;
  }
}

/**
 * Wrapper
 */
.ola-answer-card-wrapper {
  padding: 14px;
}

/**
 * Answer list wrapper
 */
.olachat .ola-answer-list-wrapper, .olachat .ola-answer-map {
  padding: 8px 0;
}

/**
 * Remove shadow inside carousel
 */
.ola-answer-carousel {
  > .ola-answer-card-wrapper {
    box-shadow: none;
    padding: 0;
    background: transparent;
  }
}


/**
 * Carousel title
 */
.ola-answer-carousel-title {
  padding-top: 8px;
}

/**
 * Carousel image
 */
.ola-answer-selectable {
  cursor: pointer;
}

/**
 * Answer card
 */
.ola-answer-card {
  // margin: 0 0 16px 0;
}


/**
 * Answer button
 */
.ola-answer-button {
  .olachat-bot-desktop &, .olachat-bot-tablet & {
    width: auto;
  }
}