/**
 * Answer
 */

.ola-snippet-answer {
  // box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  background: white;
  position: relative;
  // z-index: 1;
  padding: 0;
  margin-bottom: 1em;
}

.ola-answer {
  box-shadow: none;
  padding: 0;
  @include clearfix;

  sup {
    font-size: 16px;
    top: auto;
    // vertical-align: middle;
  }
}

/**
 * Wrapper
 */
.ola-answer-card-wrapper,
.ola-answer-list-wrapper,
.ola-answer-carousel-item-wrapper {
  padding: 14px;
  background: white;
  box-shadow: $sharp-box-shadow;
  border-radius: 5px;
}

/**
 * Answer card
 */
.ola-answer-card,
.ola-answer-list {
  margin: 0 0 16px 0;
}

/**
 * Swipeable inside chatbot
 */

.ola-swipeable-flow {  
  /* On desktop */
  margin-left: -56px - 14px;
  margin-right: -80px - 14px;

  .olachat-bot-mobile &{
    margin-left: -16px - 16px;
    margin-right: -16px - 14px;
    padding-top: 8px;
  }
}
  /**
   * Row
   */
  .ola-swipeable-row {
    padding-left: 56px + 14px;
    padding-right: 80px + 14px;

    .olachat-bot-mobile & {
      padding-left: 16px + 8px;
      padding-right: 16px + 8px;
    }
  }

  /**
   * Inside swipeable, set height as 100%
   */
  .ola-swipeable {
    .ola-answer-card, 
    .ola-answer-carousel-item,
    .ola-answer-card-wrapper,
    .ola-answer-carousel-item-wrapper,
    .ola-answer-list-wrapper {
      height: 100%;
    }
  }