/* Links */


a {
  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.olachat-body {
  padding: 0;
  margin: 0;
}

/* Mark */
.ola-mark {
  background: transparent;
  color: inherit;
  text-decoration: underline;
}