/* Links */


a {
  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.olachat-body {
  padding: 0;
  margin: 0;
}

/* Mark */
.ola-mark {
  background: transparent;
  color: inherit;
  text-decoration: underline;
}

img, iframe, .ola-icon, svg {
  vertical-align: top;
}

/**
 * Checkbox
 */
.olachat-checkbox, .olachat-radio {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/**
 * Visibility
 */
.ola-visibility-hidden {
  visibility: hidden;
}