.olachat {
  height: 600px;
  max-height: 100%;
  animation: 0.2s ease-out 0s 1 fadeIn;
  -webkit-animation: 0.2s ease-out 0s 1 fadeIn;
  -ms-animation: 0.2s ease-out 0s 1 fadeIn;
  -moz-animation: 0.2s ease-out 0s 1 fadeIn;
  border-radius: 5px;
  box-shadow: $sharp-box-shadow;

  /* For mobile and tablet */
  .olachat-bot-tablet &, .olachat-bot-mobile & {
    border-radius: 0;
  }
  background: $chatbg url('https://cdn.olasearch.com/assets/images/chat-bg.png');
  @include flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

.olachat-bot {
  @include prefix(animation, .2s ease-out 0s 1 fadeIn, (ms,webkit,moz));
  /* PLEASE NOTE */
  /* Chatbot will be hidden by default. Once Iframe has been loaded and CSS Link is also loaded, we show the bot */
  opacity: 1 !important;
}

.olachat-bot .olachat, .olachat-bot .olachat-vui {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: auto;  
}

  .olachat-bot-desktop.olachat-bot-active {
    .olachat, .olachat-vui {
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }
  }



/**
 * Iframe
 * Restrict width
 */
.olachat {
  max-width: 800px;
}
.olachat-bot-iframe {
  .olachat {
    max-width: none;
  }
}