$bubble-size: 30px;
$bubble-icon-size: 34px;
.olachat-bubble {
  background: none;
  border: none;
  text-align: left;
  position: relative;
  width: 60px;
  /* For shadow */
  background: $blue;
  color: white;
  border-radius: $bubble-size;
  padding: 0 $bubble-size 0 $bubble-size;
  text-align: center;
  min-height: $bubble-size * 2;
  box-shadow: $sharp-box-shadow;
  cursor: pointer;  
  margin: 10px;

  &:hover, &:active, &:focus {
    background: darken($blue, 10%);
  }
}

/* Inner */
.olachat-bubble-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bubble text */
.olachat-bubble-text {
  flex: 1;
  text-align: left;
  margin-right: 0.5rem;
}