/* Simple button */
.ola-chat-btn {
  background: white;
  border-radius: $button-border-radius;
  box-shadow: $small-box-shadow;
  height: 40px;
  display: inline-block;
  color: $blue;
  padding: 0 1rem;
  margin: 0 1rem 0 0;
}

  /* Icon button */
  .ola-icon-btn {
    .ola-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }

/**
 * Olachat primary button
 */
.olachat-btn-primary {
  border-radius: 10px;
  border: 1px $blue solid;
  line-height: 1.5;
  color: $blue;
  background-color: transparent;
  padding: 6px 14px;
  margin: 0 0 16px 0;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

/**
 * Plain button
 */
.olachat-plain-button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}

.olachat-icon-button {
  min-width: 60px;
}

/* Geo */
.ola-link-geo {

  /* Inside the message */
  .olachat-message & {
    @extend .ola-chat-btn;
    &:hover, &:focus, &:active {
      background: $blue;
      color: white;
      text-decoration: none;
    }
  }
}

/* Cancel */
.ola-cancel-btn {
  @extend .ola-chat-btn;
  background: $msgborder;
  box-shadow: none;
  border: none;
  color: $base-color;
}

/* Primary button */
.ola-cta-button {
  .olachat-bot & {
    width: 100%;
  }
}

/**
 * Badge
 */
.ola-with-badge {
  position: relative;
}

  /**
   * BAdge
   */
  .ola-badge {
    margin: 0 8px;
    background: #facd6e;
    color: black;
    font-size: 12px;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    right: 0;
    animation: slideUpFade 0.2s linear;
  }

    .ola-badge-inline {
      position: static;
      left: auto;
      right: auto;
      top: auto;
    }