/* Simple button */
.ola-chat-btn {
  background: white;
  border-radius: $base-radius;
  box-shadow: $small-box-shadow;
  height: 40px;
  display: inline-block;
  color: $blue;
  padding: 0 1rem;
  margin: 0 1rem 0 0;
}

  /* Icon button */
  .ola-icon-btn {
    .ola-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }


/* Geo */
.ola-link-geo {
  @extend .ola-chat-btn;

  /* Inside the message */
  .olachat-message & {
    &:hover, &:focus, &:active {
      background: $blue;
      color: white;
    }
  }
}

/* Cancel */
.ola-cancel-btn {
  @extend .ola-chat-btn;
  background: $msgborder;
  box-shadow: none;
  border: none;
  color: $base-color;
}