/**
 * Feedback
 */

.olachat-feedback {
  font-size: 1.2rem;
  text-align: right;
  line-height: 1;
  padding: 0 16px 8px 16px;
}

/**
 * Feedback footer
 */

.olachat-footer-feedback {
  textarea {
    padding-left: 1em;
  }

  .olachat-submit {
    color: #f57c00;
  }
}


/**
 * Cancel button
 */

.olachat-button-cancel {
  background: transparent;
  border: none;
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
}


/**
 * Thank you
 */

.olachat-feedback-thankyou {
  font-size: 14px;
  padding: 10px 1em;
}


/**
 * Positve
 */
.olachat-feedback-positive, .olachat-feedback-negative {
  margin: 0 0 0 4px;
  display: inline-block;
  background: none;
  border: none;
  padding: 4px 8px;
}