$gutter: 15px;
.olachat-footer {
  // @include flexbox;
  display: flex;
  padding: 0;
  background: white;
  // border-top: 1px #ccc solid;
  position: relative;
  z-index: 2;
  min-height: 50px; /* Content height: 40px */
  box-shadow: 1px -3px 4px rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);

  @include media (desktop) {
    border-radius: 0 0 5px 5px;
  }

  /* Geo button */
  .ola-link-geo {
    box-shadow: none;
    margin: 0;
    height: auto;
  }

  /* All buttons */
  button {
    /* reset line height */
    line-height: 1;
  }
}

  /**
   * Input
   */
  .olachat-input {
    flex: 1;
    -webkit-flex: 1;
    @include flexbox;

    input[type='text'], textarea {
      /* Remove First */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      width: 100%;
      border: none;
      // padding: $gutter $gutter $gutter 0;
      padding: 16px 1rem 1rem 0;
      font-size: 1rem;

      @include media (desktop) {
        font-size: 14px;
      }
      // margin-right: $gutter;
      max-height: 100px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  /**
   * Submit
   */
  .olachat-submit {
    border: none;
    background: none;
    color: $blue;
    cursor: pointer;
    width: 70px;
    text-align: center;
    line-height: 1;

    .ola-icon {
      fill: $blue;
      color: white;

      circle {
        stroke: $blue;
      }
    }

    &:disabled {
      .olachat-submit-wrap {
        background: white;
        color: $base-grey-color;
      }
      color: $base-grey-color;
      .ola-icon {
        color: $base-grey-color;
        fill: white;

        circle {
          stroke: $base-grey-color;
        }
      }
    }
  }

  