/**
 * Header
 */
.olachat-header {
  background: $blue;
  color: white;
  padding-left: 1rem;
  height: 60px;
  // margin: -1px -1px 0 -1px;
  position: relative;
  z-index: 1;
  @include flexbox;
  align-items: center;
  -webkit-align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  // margin: -1px -1px 0 -1px; /* Olachat has a 1px border around it */
  

  @include media (desktop) {
    height: 50px;
    border-radius: 5px 5px 0 0;
    // padding: $gutter 16px;
  }

  .olachat-header-hide {
    line-height: 1;
  }
}

.olachat-header-title{
  margin: 0;
  flex: 1;
  -webkit-flex: 1;
  // font-weight: bold;
  font-size: 15px;

  .olachat-vui & {
    font-weight: normal;
  }
}

/**
 * Hide button
 */

.olachat-header-hide {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  color: white;
  padding: 0;
  border-radius: 0 5px 0 0;

  .ola-icon {
    vertical-align: middle;
  }
}