/**
 * Invite
 */
.olachat-invite {
  /* PLEASE NOTE */
  /* Chatbot will be hidden by default. Once Iframe has been loaded and CSS Link is also loaded, we show the bot */
  opacity: 1 !important;
  position: relative;
  animation: notificationSlideUp .25s ease;
  // @include prefix(transition, all 0.2s ease-in, (ms,webkit,moz));
  // @include prefix(transition-delay, 1s, (ms,webkit,moz));
  // animation-delay: 2s;

  /* Arrow */
  .ola-arrow {
    &:after {
      border-top-color: #333;
    }
    &:before {
      border-top-color: transparent;
    }
  }
}

/* Snippet */
.olachat-invite-snippet {
  clear: both;
  box-shadow: $small-box-shadow;
  border-radius: 5px;
  padding: 1em;
  font-size: 14px;
  margin: 5px; 
  cursor: pointer; 
}

/**
 * title
 */
.olachat-invite-snippet-title {
  font-weight: bold;
}

/**
 * Button
 */
.ola-btn-dismiss {
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 13px;
  background: rgba(255,255,255,0.5);
  margin: 0 5px 8px 0;
  opacity: 0;
  float: right;
  transition: opacity 0.2s ease-in;

  .olachat-invite:hover & {
    opacity: 1 !important;
  }
}