.ola-answer-gmap {
  height: 300px;  

  .ola-answer-map-empty  & {
    display: none;
  }
}

.ola-answer-map-element {
  border-radius: 5px;
  margin-bottom: 16px;
  box-shadow: $sharp-box-shadow;
  transform: translateZ(0);
  overflow: hidden;
}