.o-text-p {
  margin: 0 0 1rem 0;
  font-size: inherit;
  line-height: inherit;
}

%breakword {
  -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for WebKit */
   word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
      hyphens: auto;
}