/**
 * Main wrapper
 */

.olachat-results {
  position: relative;
}

/* Messages with search results */
.olachat-message-with-search {
  .olachat-message-content {
    max-width: 680px;
  }
}

  /**
   * Wrapper
   */
  .olachat-results-wrapper {
    position: relative;
  }

  /**
   * Overlay
   */
  .olachat-results-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    // right: 1rem;
    bottom: 1rem;
    left: 0;
    background: rgba(0,0,0,0.2);
    // background: rgba(255,255,255,0.8);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.79) 47%, rgba(237,237,237,0.55) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.79)), color-stop(100%, rgba(237,237,237,0.55)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.79) 47%, rgba(237,237,237,0.55) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.79) 47%, rgba(237,237,237,0.55) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.79) 47%, rgba(237,237,237,0.55) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.79) 47%, rgba(237,237,237,0.55) 100%);
        border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;

    .olachat-results-stack & {
      visibility: visible;
      opacity: 0.9;
    }
  }

/**
 * Search results
 */
.olachat .ola-results {
  display: flex;
  flex-direction: column;


  @include media (tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  justify-content: flex-start;
  // margin: 0 -1 * $space;
}
