.olachat-slots {
  background-color: transparent;
  animation: 0.3s ease-in-out 0s 1 slideUp;
  overflow-x: auto;
  margin-bottom: 8px;
}

  /**
   * List
   */
  .olachat-slots-style-list {
    overflow: visible;
  }


.olachat-slots-button {
  background-color: white;
  border: 1px $light-grey-color solid;    
  font-size: 14px;
  line-height: 1.5;
  display: block;  
  border-radius: 20px;
  padding: 7px 14px;
  margin: 8px 8px 1px 0;
  color: $base-color;
  font-weight: 600;
  width: auto;
  min-width: 80px;

  /* With icon */
  .ola-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  /* Inside user message */
  .olachat-message & {
    text-align: center;
  }

  .olachat-slots-style-list & {
    text-align: left;
  }

  .olachat-bot-tablet &, .olachat-bot-mobile &, .olachat-slots-style-list & {
    width: 100%;
    margin-bottom: -1px;
    margin-top: 0;
    color: $link-color;
    border-radius: 0;
    white-space: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }


  &:disabled {
    opacity: 0.5;
    color: $base-color;
    cursor: text;
    &:hover {
      background: white;
      color: $base-color;
      border-color: $light-grey-color;
    }
  }

  &:hover {
    background: $blue;
    color: white;
    border-color: $blue;
  }  
}

.olachat-slots .olachat-slots-showmore {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.olachat-slots-list {
  display: flex;
  padding: 0 0 0 0;
  flex: 1;
  flex-wrap: wrap;


  .olachat-message & {
    justify-content: flex-end;
  }

  .olachat-bot-mobile &, .olachat-bot-tablet & {
    flex-direction: column;
  }

  .olachat-message-bot & {
    justify-content: flex-start;
  }  
}

.olachat-slots-style-list {
  border: 1px $blue solid;
  border-radius: 20px;
  transform: translateZ(0);
  overflow: hidden;
  .olachat-slots-list {
    display: block;
    max-height: 300px;
    overflow-y: auto;
  }
  .olachat-slots-button {
    border-width: 1px 0 0 0;
    border-radius: 0;

    &:first-child {
      border-top-width: 0;
    }
  }
}



/**
 * Multiple slots
 */
.olachat-slots-multiple-group, .olachat-slots {  
  .olachat-bot-mobile & {
    margin-left: 30px + 8px;    
  }
}
.olachat-slots-multiple-group, .olachat-slots-style-list {
  max-width: 500px;
  .olachat-bot-mobile & {
    max-width: 300px;
  }
}
.olachat-message-error {
  .olachat-slots-multiple-group, .olachat-slots {
    max-width: none;
  }
}

.olachat-slots-multiple {
  border: 1px #ccc solid;
  border-radius: 20px;
  margin-bottom: 16px;  
}

  .olachat-slots-multiple-item {
    padding: 14px 16px;
    border-bottom: 1px #ccc solid;
    align-items: flex-start;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
  }  
