.olachat {
  .ola-snippet {
    
    @include media(desktop) {
      width: 33.33%;
      padding: 0 16px 16px 0;
      margin: 0;

      &:nth-child(3n+3) {
        padding-right: 0;
      }
    }
  }

  .ola-card {
    margin-bottom: 16px;
  }

  .ola-card-template-list, .ola-card-template-map {
    margin: 0;
  }

  /**
   * Swipeable adds 8px padding-bottom
   */
  .ola-card-template-carousel {
    margin-bottom: 8px;
  }

  .ola-snippet-inner, .ola-card-inner {
    // border: 1px #d8d8d7 solid;
    background: white;
    padding: 1em;
    border-radius: 5px;
    min-height: 100%;
    box-shadow: none;
    box-shadow: $small-box-shadow;
  }

  /* MC */
  .ola-snippet-mc {
    width: auto;
    margin: 0;
    padding-bottom: 1em;
    padding-right: 0;
  }

  .ola-field-title {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0 0 5px 0;
  }

  .ola-answer-header .ola-field-title {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  .ola-link-bookmark-action {
    // display: none;
  }

  .ola-link-load-more {
    text-align: center;
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: $blue;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  
    &:hover {
      color: $base-color;
    }
  
    &.ola-link-load-more-active {
      opacity: 0.5;
    }
  }

  /* Remove horizontal columns */
  .ola-fg-horizontal {
    flex-direction: column;
    > .ola-fg {
      padding: 0;
    }
    > .ola-field {
      padding: 0 0 1rem 0;
    }
  }
  .ola-field-img {
    width: auto;
    // height: 100px;
    overflow: hidden;
  }

  /* Cta button */
  .ola-cta-button {
    display: block;
    text-align: center;
  }
}


/* Inside the stack */
.olachat-results-stack {
  .ola-link-load-more {
    display: none;
  }
  .olachat-results-seeall {
    visibility: visible;
    opacity: 1;
  }
}


/**
 * See all button
 */

.olachat-results-seeall {
  position: absolute;
  top: 50%;
  background: #F3F9FF;
  color: $blue;
  width: 180px;
  height: 50px;
  border: 1px $blue solid;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  left: 50%;
  margin-left: -90px;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  font-weight: 500;
  border-radius: 30px;
  font-weight: bold;
  // background: rgba($blue, 0.8);
  // color: white;

  &:hover {
    color: $base-color;
    border-color: $base-color;
  }

  &:before {
    // @extend .iconfont;
    // background-position: 0 -73px;
    // background-size: 100% auto;
    // width: 18px;
    // height: 18px;
    // margin-right: 5px;
  }
}

/* Remove certain fields in chatbot */
.olachat {
  /* Articles */
  .ola-fg-horizontal.Date-TextField {
    display: none;
  }
  /* Events */
  .ola-fg-horizontal.Date-Date-TextField {
    font-size: 11px;
    .ola-field-text {
      display: none;
    }
  }
  .ola-fg-horizontal.TextField-Direction {
    display: block;
  }
}

/* Snippet text */
.ola-snippet-text {
  @extend .o-text-p;
  margin-bottom: 0.5rem;
}