/**
 * For chatbot
 */

/**
 * Swipeable inside chatbot
 */

.ola-swipeable {  
  /* On desktop */
  margin-left: -60px;
  margin-right: -80px;

  .olachat-bot-mobile &{
    margin-left: -16px;
    margin-right: -16px;
  }
}
  /**
   * Row
   */
  .olachat .ola-swipeable {
    // text-align: center;
  }

  .ola-swipeable-flow {
    padding-left: 60px;
    padding-right: 16px;

    .olachat-bot-mobile & {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  /**
   * Inside swipeable, set height as 100%
   */
  .ola-swipeable {
    .ola-answer-card, 
    .ola-answer-carousel-item,
    .ola-answer-card-wrapper,
    .ola-answer-carousel-item-wrapper,
    .ola-answer-list-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }

  .olachat-bot-desktop .ola-swipeable-prev,
  .olachat-bot-desktop .ola-swipeable-next {
    display: block;
  }


/**
 * Inside modal
 */
.ola-modal-portal {
  .ola-swipeable-flow {
    padding: 0;
  }
}