.olachat-vui {
  background: $lightblue;
  @include flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  border: 1px #ccc solid;
  box-shadow: $small-box-shadow;
  position: relative;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }


  .olachat-voice  {
    position: absolute;
    bottom: 2 * $gutter;
    left: 50%;
    margin-left: -40px;
  }

  /* Header */

  .olachat-header {
    background-color: transparent;
    text-align: center;
    padding-top: 2em;
    border-bottom: none;
    padding-bottom: 2em;
    box-shadow: none;
  }
  .olachat-header-title {
    text-transform: uppercase;
    color: #444;
    font-weight: 600;
    // margin-top: 2em;
  }

  .olachat-header-hide {
    color: $base-color;
  }
}


/**
 * Message
 */
.olachat-vui-reply {
  text-align: center;
  font-size: 20px;
  padding: 2em 1em 1em 1em;
}

.olachat-vui-message {
  font-size: 20px;
  text-align: center;
  padding: 1em 1em;
  font-weight: 100;
  text-transform: capitalize;
}