.olachat-message-fulfilled {
  .olachat-message-content{
    // font-weight: bold;
  }
}

.olachat-bot-overlay {
  background: rgba(0,0,0,0.35);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;

  .olachat-bot-active & {
    opacity: 1;
  }
}