/**
 * Voice
 */

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(#fff, 0.8);
    box-shadow: 0 0 0 0 rgba(#fff, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 12px rgba(204,169,44, 0);
      box-shadow: 0 0 0 12px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    };
}

/**
 * Animation
 */
.messages-enter, .messages-appear {
  opacity: 0.01;
}

.messages-enter.messages-enter-active, .messages-appear.messages-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.messages-leave {
  opacity: 1;
}

.messages-leave.messages-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

/**
 * Quick replies
 */

.qreply-enter, .qreply-appear {
  // transform: translate3d(0, 70px, 0);
}

.qreply-enter.qreply-enter-active, .qreply-appear.qreply-appear-active {
  transform: translate3d(0, 0, 0);
  transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
  // transition-delay: 1s;
}

.olachat-qreply-button {

}