.olachat-message-avatar {
  margin-left: 0;
  margin-right: $gutter;
  display: block;
}


.olachat-avatar {
  width: 30px;
  height: 30px;
  vertical-align: top;
  border-radius: 2px;
}

.olachat-avatar-bot {
  .olachat-avatar {
    // border: 1px #ddd solid;
  }
}