.olachat-message-avatar {
  margin-left: 0;
  margin-left: 8px;
  display: block;
  display: none;
  width: 30px;

  @include media (tablet) {
    width: 36px;
  }

  .olachat-message-bot & {
    margin-right: 8px;
    margin-left: 0;
    display: block;
  }
}


.olachat-avatar {
  max-width: 100%;
  vertical-align: top;
  margin-top: -3px;
}

.olachat-avatar-bot {
  .olachat-avatar {
    // border: 1px #ddd solid;
  }
}