.olachat {
  height: 600px;
  max-height: 100%;
  animation: 0.2s ease-out 0s 1 fadeIn;
  -webkit-animation: 0.2s ease-out 0s 1 fadeIn;
  -ms-animation: 0.2s ease-out 0s 1 fadeIn;
  -moz-animation: 0.2s ease-out 0s 1 fadeIn;

  @include media (tablet) {
    border: 1px #ccc solid;
    box-shadow: $small-box-shadow;
  }
  background: $chatbg;
  @include flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

.olachat-bot {
  @include prefix(animation, .2s ease-out 0s 1 fadeIn, (ms,webkit,moz));
}

.olachat-bot .olachat, .olachat-bot .olachat-vui {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: auto;
}

  .olachat-bot-desktop.olachat-bot-active {
    .olachat, .olachat-vui {
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }
  }

$bubble-size: 30px;
$bubble-icon-size: 34px;
.olachat-bubble {
  background: none;
  border: none;
  text-align: left;
  position: relative;
  width: 280px;
  margin-top: 10px;
  background: $blue;
  color: white;
  padding: 0em $bubble-size+ $bubble-icon-size 0em $bubble-size;
  border-radius: $bubble-size;
  min-height: $bubble-size * 2;
  box-shadow: $sharp-box-shadow;
  cursor: pointer;
  margin-left: 20px;

  &:after {
    @extend .iconfont;
    content: 'chat';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -17px;
    font-size: 34px;
  }
}

/**
 * Iframe
 * Restrict width
 */
.olachat {
  max-width: 800px;
}
.olachat-bot-iframe {
  .olachat {
    max-width: none;
  }
}