.olachat-bot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  top: 0;

  .olachat, .olachat-vui {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: auto;
    @include media (desktop) {
      bottom: 0px;
      right: 0;
      position: absolute;
      left: auto;
      top: auto;
      height: 600px;
    }
  }
}

.olachat-vui {
  position: absolute;
  bottom: 80px;
  right: 0px;
}

$bubble-size: 30px;
$bubble-icon-size: 34px;
.olachat-bubble {
  background: none;
  border: none;
  max-width: 300px;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  background: $blue;
  color: white;
  padding: 0em $bubble-size+ $bubble-icon-size 0em $bubble-size;
  border-radius: $bubble-size;
  min-height: $bubble-size * 2;
  box-shadow: $sharp-box-shadow;
  cursor: pointer;

  &:after {
    @extend .iconfont;
    content: 'chat';
    position: absolute;
    right: $bubble-size;
    top: 50%;
    margin-top: -17px;
    font-size: 34px;
  }
}