/**
 * generic
 */
.ola-card {
  padding-top: 8px;
  font-size: 14px;
}
  .ola-card-inner {
    border: 1px #d8d8d7 solid;
    background: white;
    padding: 1em;
    border-radius: 5px;

    .ola-card-title {
      margin-bottom: 0;
    }
  }
/**
 * Title
 */
.ola-card-list-title {
  padding-bottom: 8px;
}
.ola-card-list-items {
  @include flexbox;
  flex-wrap: wrap;
}

.ola-card-list-item {
  font-size: 14px;
  padding: 0em 1em 1em 0;
  width: 50%;
}

  .ola-card-list-inner {
    padding: 1em;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    min-height: 100%;
    background: white;
  }

  /**
   * Card title
   */
  .ola-card-title {
    font-size: 14px;
    margin: 0 0 8px 0;
    > a {
      color: $blue;
      text-decoration: none;
    }
  }

  /**
   * Subtitle
   */
  .ola-card-subtitle {
    padding-bottom: 8px;
  }

  /**
   * Card action
   */
  .ola-card-action {
    font-size: 12px;
    a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #9B9B9B;
      text-decoration: none;
    }
  }

  .ola-card-button {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #9B9B9B;
    text-decoration: none;
  }