/**
 * Feedback
 */

.olachat-feedback {
  font-size: 1.2rem;
  text-align: right;
  // line-height: 1;
  // height: 24px;
  max-width: 720px;

  @include media (desktop) {
    // position: absolute;
    // right: 8px;
    // bottom: 0;
    // padding-top: 0;
  }

  button {
    line-height: normal;
  }
}

/**
 * Feedback footer
 */

.olachat-footer-feedback {
  textarea {
    padding-left: 1em;
  }

  .olachat-submit {
    color: #f57c00;
  }
}

/**
 * Active feedback
 */

.olachat-messages-overlay {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 10;
    transition: all 0.2s ease-in;
    opacity: 0;
    visibility: hidden;
    &.olachat-messages-overlay-active {
      opacity: 0.2;
      visibility: visible;
    }
}


/**
 * Cancel button
 */

.olachat-button-cancel {
  background: transparent;
  border: none;
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
}


/**
 * Thank you
 */

.olachat-feedback-thankyou {
  font-size: 14px;
  padding: 10px 1em;
}


/**
 * Positve
 */
.olachat-feedback-positive, .olachat-feedback-negative {
  margin: 0 8px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
}