/**
 * Header
 */
.olachat-header {
  background: white;
  padding: $gutter;
  position: relative;
  @include flexbox;
  align-items: center;
  -webkit-align-items: center;
  // justify-content: center;
}

.olachat-header-title{
  margin: 0;
  flex: 1;
  -webkit-flex: 1;
  font-weight: bold;

  .olachat-vui & {
    font-weight: normal;
  }
}

/**
 * Hide button
 */

.olachat-header-hide {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;

  &:before {
    @extend .iconfont;
    content: 'close';
    vertical-align: middle;
    font-size: 20px;
  }

  span {
    display: none;
  }
}