.olachat-helpmenu {
  width: 30px + 16px + 12px;
  position: relative;
  vertical-align: middle;
}

.olachat-helpmenu + .olachat-input > textarea {
  padding-left: 0;
}

.olachat-helpmenu-button {
  background: none;
  padding: 0;
  border: none;
  color: $blue;
  width: 100%;
  text-align: center;
  // height: 100%;
  line-height: 1;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  span {
    font-size: 0;
  }

  &:before {
    @extend .iconfont;
    content: 'menu';
  }
}