.olachat-messages {
  flex: 1;
  -webkit-flex: 1;
  padding: 1em 0 1em 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  transition: all 0.2s ease-in;
  @include media (phablet) {
    height: calc(100% + 1px);
  }
  position: relative;
  @include media (desktop) {
    overflow: auto;
  }
}

.olachat-messages-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
}

.olachat-messages-list {
  padding: 16px 0;
  position: relative;
}



/**
 * Message
 */
.olachat-message {
  padding: 8px 16px 8px 16px;
  min-height: 50px;
  font-size: 14px;
  @include clearfix;
  @include flexbox;
  position: relative;

  &:hover {
    background-color: #f8f8f8;
  }
}

  .olachat-bot-testing {
    .olachat-message:hover {
      background-color: #ddd;
    }
  }

/**
 * Content
 */

.olachat-message-body {
  @include prefix(flex, 1, (ms,webkit,moz));
  @include prefix(flex-shrink, 0, (ms,webkit,moz));
  position: relative;
}

  .olachat-bot-testing {
    .olachat-message-body {
      padding-right: 50px;

      @include media (tablet) {
        padding-right: 0;
      }
    }
  }

/**
 * Typing indicator
 */
.ola-chat-progress {
  padding-top: 0;
  padding-bottom: 16px;
}

/**
 * Date
 */
.olachat-message-date {
  display: none;
}

/**
 * Name
 */

.olchat-message-name {
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 1;
}

/**
 * Content
 */

.olachat-message-content {
  max-width: 600px;
}

  .olachat-message-with-search {
    .olachat-message-content {
      max-width: 100%;
    }
  }


/**
 * Message reply
 */
.olachat-message-reply {
  p:last-child {
    margin-bottom: 0.5em;
  }

  a, a:hover, a:focus {
    color: $blue;
  }
}