.olachat-messages {
  flex: 1;
  -webkit-flex: 1;
  padding: 1em 0 1em 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  transition: all 0.2s ease-in;
  @include media (phablet) {
    height: calc(100% + 1px);
  }
  position: relative;
  @include media (desktop) {
    overflow: auto;
  }
  // background: url("https://olasearch.com/assets/images/ola-logo-small.svg") center center no-repeat;
  // filter: grayscale(20%);
}

.olachat-messages-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
}

.olachat-messages-list {
  padding: 12px 0;
  position: relative;
}



/**
 * Message
 */
.olachat-message {  
  font-size: 14px;
  @include clearfix;
  padding: 0 16px 0.5rem 12px;
  min-height: 56px;
  animation: slideUpFade 0.2s linear;

  @include media (tablet) {
    padding: 0 20px 0 12px;
  }

  &:hover {
    // background-color: #f1f1f1;
  }
}

/* Loader */
.olachat-message-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;

  svg {
    animation: spin 1s infinite linear;
    transform-origin: 50% 50%;
  }
}


  .olachat-message-inner {
    @include flexbox;
    flex-direction: row-reverse;
    position: relative;

    .olachat-message-with-search & {
      padding-bottom: 0.5rem;
    }

    .olachat-message-bot & {
      flex-direction: row;
    }
  }

  .olachat-bot-testing {
    .olachat-message:hover {
      background-color: #ddd;
    }
  }

/**
 * Content
 */

.olachat-message-body {
  @include prefix(flex, 1, (ms,webkit,moz));
  @include prefix(flex-shrink, 0, (ms,webkit,moz));
  position: relative;
  text-align: right;

  .olachat-message-bot & {
    text-align: left;
  }
  // padding-right: 80px;
}

  .olachat-bot-testing {
    .olachat-message-body {
      padding-right: 50px;

      @include media (tablet) {
        padding-right: 0;
      }
    }
  }

/**
 * Date
 */
.olachat-message-date {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: none;

  .olachat-message:hover & {
    opacity: 0.5;
  }
}

/**
 * Name
 */

.olchat-message-name {
  font-weight: bold;
  padding-bottom: 5px;
  line-height: 1;
  display: none;
}

/**
 * Content
 */

.olachat-message-content {
  

  .olachat-message-bot &{
    max-width: 600px;
  }
}


/**
 * Message reply
 */
.olachat-message-reply {
  background:#009DC2;
  color: white;
  // border-radius: 20px 0 20px 20px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  // position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
  max-width: 300px;

  @include media (tablet) {
    max-width: 500px;
  }

  .olachat-message-bot & {
    background: $blue;
  }

  .olachat-message-error & {
    background: $red;
  }


  p {
    margin-bottom: 0;
  }
  p:last-child {
    // margin-bottom: 0.5em;
  }

  p {
    @extend .o-text-p;
  }

  a {
    &, &:hover, &:active, &:focus {
      color: white;
    }
  }
}


/**
 * Active feedback
 */

 .olachat-messages-overlay {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  z-index: 10;
  transition: all 0.2s ease-in;
  opacity: 0;
  visibility: hidden;
  &.olachat-messages-overlay-active {
    opacity: 0.2;
    visibility: visible;
  }
}