.olachat-messages {
  flex: 1;
  -webkit-flex: 1;
  padding-bottom: 1em;
  border: 1px #ccc solid;
  border-width: 1px 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  @include media (phablet) {
    height: calc(100% + 1px);
  }
  @include media (desktop) {
    overflow: auto;
  }
}

  .olachat-messages-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    // height: calc(100% + 1px);
  }

  /**
   * Message
   */
  .olachat-message {
    // min-height: 62px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 14px;
    // justify-content: flex-start;
    // flex-direction: row-reverse;
    // -webkit-justify-content: flex-start;
    // -webkit-flex-direction: row-reverse;
    @include clearfix;
  }

    /**
     * Content
     */
    .olachat-message-content{
      background: linear-gradient(to bottom, lighten(#006eab, 5%) 0%,#006eab 100%);
      color: white;
      border-radius: 6px;
      padding: 8px;
      // margin-bottom: 8px;
    }

    /**
     * body
     */
    .olachat-message-body {
      // flex: 1;
      max-width: 60%;
      min-width: 50px;
      @include flexbox;
      flex-direction: column;
      -webkit-flex-direction: column;
    }

    /**
     * Date
     */
    .olachat-message-date {
      font-size: 12px;
      color: #888;
      display: none;
    }

/**
 * Bot message
 */
.olachat-message-bot {
  .olachat-message-content {
    background: white;
    border: 1px $msgborder solid;
    color: #333;
  }
}

/**
 * Animation
 */
.messages-enter, .messages-appear {
  opacity: 0.01;
}

.messages-enter.messages-enter-active, .messages-appear.messages-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.messages-leave {
  opacity: 1;
}

.messages-leave.messages-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

/**
 * Message arrow
 */

.olachat-message-content {
  position: relative;
}

  .olachat-message-content:after, .olachat-message-content:before {
    top: 18px;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .olachat-message-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: $blue;
    border-width: 6px;
    margin-top: -6px;
  }
  .olachat-message-content:before {
    border-color: rgba(223, 227, 233, 0);
    border-left-color: $blue;
    border-left: none;
    border-width: 7px;
    margin-top: -7px;
  }

  .olachat-message-bot {
    .olachat-message-content {
      border: 1px solid $msgborder;

      &:after, &:before {
        right: 100%;
        left: auto;
      }

      &:after {
        border-right-color: #fff;
        border-left: none;
      }

      &:before {
        border-right-color: $msgborder;
        border-left: none;
      }
    }
  }




  /* Simple message stack */
  .olachat-message {
    .olachat-message-body {
      float: right;
    }
    .olachat-message-avatar {
      float: right;
    }
  }

    .olachat-message-bot {
      .olachat-message-avatar {
        float: left;
      }
      .olachat-message-body{
        float: left;
      }
    }

  /**
   * Collapse message
   */

  .olachat-message-collapse {
    // margin-bottom: -12px;

    & + .olachat-message {
      top: -22px;
      // margin: 0px 0 -8px 0;
      position: relative;
      .olachat-message-avatar {
        visibility: hidden;
      }

      .olachat-message-content {
        &:after, &:before {
          display: none;
        }
      }
    }
  }