@media print{
  .olachat-footer,
  .olachat-smartsuggestions,
  .olachat-header-hide,
  .olachat-qreply
  {
    display: none;
  }

  .olachat-messages-wrapper {
    bottom: auto;
    top: 0;
  }

  .olachat-header {
    background: none;
    border: none;
    color: #666;
  }

  .olachat-bot .olachat, .olachat-messages-wrapper {
    position: relative;
  }
}
