.olachat-query-suggestions {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  box-shadow: 1px -2px 2px 0 rgba(0,0,0,0.2);
  background-color: white;
  font-size: 14px;
}

/**
 * Item
 */
.olachat-query-suggestion {
  border: none;
  background: transparent;
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 16px;
  padding-left: 58px;
  position: relative;

  &:hover {
    background-color: #eee;
  }

  font-weight: bold;
  strong, b {
    font-weight: normal;
  }

  &.is-active {
    background: #eee;
  }
}

/* Item */
// .olachat-query-suggestion-item {
//   position: relative;
  
//   .ola-icon {
//     position: absolute;
//     width: 58px;
//     text-align: center;
//     opacity: 0.6;
//     top: 50%;
//     margin-top: -10px;
//   }
// }