.olachat-quickreplies {
  font-size: 14px;
  background-color: transparent;
  animation: 0.3s ease-in-out 0s 1 slideUp;
  // box-shadow: 0 -2px 3px 1px rgba(0,0,0,.1);

  // @include media (tablet) {
    display: flex;
    overflow-x: auto;
    border-top: none;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    
    justify-content: center;
  // }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .olachat-quickreplies {
    animation: none;
  }
}

.olachat-quickreplies-button {
  border-radius: 20px;
  // border: 1px $blue solid;
  border: none;
  box-shadow: 0px 0px 0px 1px $blue inset;
  line-height: 1.5;
  color: $blue;
  background-color: transparent;
  // height: 34px;
  padding: 0.5rem 1rem;
  margin: 0 3px 0 3px;
  flex: 0 0 auto;

  // white-space: nowrap;
  display: block;

  @include media (tablet) {
    // display: inline-block;
    // margin-bottom: 0;
    // width: auto;
  }

  &:hover {
    color: white;
    background-color: $blue;
  }
}

.olachat-quickreplies-list {
  
  padding: 12px;
  display: flex;
}