@import 'variables';


html {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

p {
  margin: 0 0 1em 0;
}

.olachat {
  height: 600px;
  max-height: 100%;
  width: 100%;
  animation: 0.2s ease-out 0s 1 fadeIn;
  -webkit-animation: 0.2s ease-out 0s 1 fadeIn;
  -ms-animation: 0.2s ease-out 0s 1 fadeIn;
  -moz-animation: 0.2s ease-out 0s 1 fadeIn;

  @include media (tablet) {
    width: 860px;
    border: 1px #ccc solid;
    box-shadow: $small-box-shadow;
  }
  background: $chatbg;
  @include flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

.full-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    > * {
      flex-basis: 23%;
    }
  }
}



@import 'icons';
@import 'animation';
@import 'footer';
@import 'messages';
@import 'header';
@import 'typingindicator';
@import 'avatar';
@import 'voice';
@import 'vui';
@import 'bubble';
@import 'quickreplies';
@import 'search';
@import 'card';
@import 'query_suggestions';
@import 'helpmenu';
@import 'dropdown';
@import 'smartsuggestions';
@import 'results';